.App {
  text-align: center;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.items__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
.item img {
  width: 200px;
  height: 200px;
}
.money {
  font-size: 32px;
  font-weight: bold;
  color: rgb(63, 204, 126);
}
